#foto_perfil {
    border-radius: 50%;
    max-width: 200px;
    border: 1px solid rgb(58, 56, 56);
    background-color: #000;
    transition: 5s;
}

#foto_perfil:hover {
    border-radius: 50%;
    max-width: 300px;
    filter: contrast(5);
    border: 1px solid rgb(58, 56, 56);
    background-color: #000;
}

body {
    background-color: white;
    display: flex;
    transition: 0.5s;
}

hr {
    color: black;
}

.background1 {
    background-color: gray;
    border-radius: 30px;
    text-align: left;
}

.container {
    border-radius: 20px;
}

/* .dark-mode{
    background-color: #121212;
    color: white;
    display: flex;
    transition: 0.5s;
} */

.black_color {
    color: black;
}

.darkson{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background-color: purple;
    transition: 0.5s;
}

.darkson:hover{
    background-color: greenyellow;
}

.visibility{
    visibility: hidden;
}
